*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: white;
    color: #262626;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.parent_content{
    display: flex;
}

.sidebar_aside_class{
    width: 16%;
    height: 100vh;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #cfcfcf;
    transition: 0.3s;
}
.sidebar_header{
    width: 100%;
    margin-bottom: 44px;
    margin-left: 12px;
    cursor: pointer;
}
.sidebar_DIV_inside_nav{
    display: flex;
    flex-direction: column;
}

.sidebar_DIV_inside_nav button{
    height: 60px;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    width: 100%;
}


.sidebar_DIV_inside_nav button>span{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 12px;
    border-radius: 5px;
    line-height: 1;
}
.sidebar_DIV_inside_nav :hover button,
.sidebar_DIV_inside_nav :hover span{
    background: rgb(190, 190, 190);
}
.content_middle{
width: 52%;
height: 100vh;
display: flex;
align-items: center;
flex-direction: column;
}
.content_middle button{
    width: auto;
    margin-top: 20px;
    border: 0;
border-radius: 20px;
padding: 8px;
font-weight: bold;
margin-bottom: -5px;
margin-left: 20px;
background-color: white;
box-shadow: 2px 2px 9px 2px rgba(194, 194, 194, 0.5);
}

.content_middle_top{
    width: 100vh;
display: flex;
margin-left: 150px;
}
.span_status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px ;
    margin-right: 10px;
}
.content_middle_bottom{
    max-width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.icon_title_container{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fin_simplified{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}
.content_post_icon_name_middle{
    display: flex;
    align-items: center;
}
.content_post_more_middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.border_image{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    background-color: rgb(255, 88, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}

.span_status img{
width: 60px;
height: 60px;
border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;
border: 3px solid rgb(255, 255, 255);
scale: fit;
}
.span_status span{
    font-size: 15px;
}
.right_suggestions{
    width: 32%;
    height: 100vh;
    padding-top: 60px;
    margin-left: 50px;
}
.suggestions_img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.suggestions_Class{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}
.fin_simplified_suggestions{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    font-size: 14px;
}

/*
.left_menu{
    width: 16%;
    height: 100vh;
    background-color: lightblue;
}
.div_instagram_text{
    padding-left: 25px;
    padding-top: 35px;
}
.left_menu_items{
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
.middle_content{

}
.left_menu_sub{
    margin-top: 25px;
    margin-left: 25px;
    align-items: center;
    justify-items: center;
     display: flex;
}
.instagram_text{
    padding: 10px;
}
.middle_content{

}
.end_List{

}
body{
    margin: 0;
}
*/